html, body {
  margin: 0;
  background-image: url('background.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

body {
  font-family: 'Courier New', monospace;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.main_container {
  max-width: 800px;
  background-color: rgba(85, 85, 85, 0);
  min-height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 800px;
  background-color: rgba(85, 85, 85, 0);
  min-height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #fff;
}

h2 {
  margin-top: 0;
  color: #fff;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

nav {
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}

.content-container {
  display: flex;
}

.ascii {
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  font-weight: 1000;
  float: left;
  margin-right: 20px;
}

.content {
  flex-grow: 1;
}

.brand {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.social-icons a {
  margin-right: 10px;
  text-decoration: none;
  padding: 10px
}

.social-icons img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

.social-icons a:visited {
  color: inherit;
}

.social-icons a[href*="youtube.com"] i {
  color: #fff;
}

.social-icons i {
  font-size: 25px;
}

.divider {
  width: 20px;
  height: 1px;
  border: none;
  background-color: #fff;
  margin: 0 auto;
}

h2 { 
  font-weight: normal; 
}

.centered {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  color: #fff;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

.list {
  flex-basis: 30%;
}

.list ul {
  margin: 10px 0;
  padding: 0;
}

.list ul li {
  margin-bottom: 5px;
}

.card {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 1px solid #fff; 
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 20px;
  width: 800px;
  height: 150px;
  box-sizing: border-box;
  padding: 10px;
}

.card a {
  text-decoration: none;
  color: #fff;
}

.card h3 {
  font-weight: normal;
  margin: 0 0 10px;
}

.card p {
  margin: 0;
}